/* ******************************************
 * WEB222NGG
 * Assignment 1
 * Name: Thi My Phuc Huynh (Mindy).
 * Student ID: 149792186.
 * Date: October, , 2020
 ********************************************
 * images from unsplash.com | canva.com
 ******************************************** */
 
 /* import Google Font */
 @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@600;700&family=Sansita+Swashed:wght@700&display=swap');
 /* font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Sansita Swashed', cursive; */

/* General style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    color: #10375c !important;
    font-family: 'Roboto', sans-serif !important;
}
header, footer {
    background-color: whitesmoke;    
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1rem;        
}

/* header line and navigation bar style */
.header-line-wrapper {
    display:flex;
    justify-content: space-between;
    padding: 1rem;    
}

.nav-wrapper {
    display:flex;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: rgba(15,48,87,0.85);
    opacity: 80%;      
}

.nav-wrapper > div {
    margin-right: 2rem;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 1.5rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #e7e7de;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #ffc93c;    
}

.nav-link-wrapper a:hover {
    color:#fddb3a;
    text-decoration: none;
}

/* background image style for header area */
.background-img {
    /* The image used */
    background-image: url("../images/header_1.jpg");
  
    min-height: 10rem;
    max-height: 15rem;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;

    padding-bottom: 1rem;
}

/* search bar styles */
.button-label {
    visibility: hidden;
}

#search-bar-btn {
    background-color: #ffc93c ;
    color: black;
}

#search-bar-btn:hover {
    background-color: #fddb3a;
    transition: .3s;
}
.form-group label {
    color: white;
}

.search-booking-form-content {
    background-color: rgba(15,48,87,0.85);
    padding: 1rem;
}
.search-booking-form-content h2 {
    color: whitesmoke;
}

/* main styles */

.content-wrapper {
    display: flex;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: lightgrey 1px solid;
}
.contain-img img {
    width: 25rem;
    height: auto;
}

.content-text-wrapper {
    margin-left: 30px;
}

.content-text-title {
    padding-bottom: 1rem;
    font-family: 'Sansita Swashed', cursive;
}
/* banners */
#slide-banner {
    min-height: 20rem;
    max-height: 29rem;
    margin-top: -2rem;
}

/* footer styles */
footer .container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;   
}
#contact {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-bottom: 1rem;    
}

#contact h4 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 2rem;
}
/* Social Media Icons */
.icons i {    
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: inline;    
    transition: .5s;
}

i:hover {
    color: #127681;    
    transition: .5s;
}
/******************************************************************************/
/* rooms listing page styles */
.rooms-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    margin-top: 4rem;
    width: 100%;
    padding: 0;
}
.room-wrapper { 
    margin: .5rem;   
    border: .5px solid lightgray;
    border-radius: 1.5%;  
    padding: 0.5rem 1rem;     
}

.room-img img {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.room-text-title h4 {
    font-family: 'Roboto Slab', serif;
}

/*************************************************************************************
Forms styles */

.form-container {
    margin: 2rem 7rem ;
    padding: 2rem;
    border: 1px solid lightgray;
    background-color: rgb(238,238,238,0.9);
    border-radius: 2%;
}
.form-container h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-bottom: 1rem;

}
input[type=date] {
    text-align: right;
}

input[type="date"]:before {
    color: #767c77;
    content: attr(placeholder) !important;
    margin-right: 0.5em;
}

input[type="date"]:focus:before {
    content: '' !important;
}

.form-container button {
    width: 100%;
    padding: .5rem;
    background-color: #00587a;
    border: none;
    color: white;
    transition: all .5s ease;
    cursor: pointer;  
    margin: .5rem; 
    align-self: center; 
}
.form-container label {
    color: #10375c;
}
#sign-up-bg{
    background-image: url('../images/bg_1.jpg');
    width:100%;
    height: 40rem;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background-color: rgb(238,238,238,0.9);
    color: #10375c;
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  #message p {
    padding-left: 5rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 1rem;
  }
  
  #message h4 {
    font-family: 'Roboto Slab', serif;    
  }
  /* Add a green text color and a check mark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -3rem;
    content: "\2714";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "\2716";
  }

/**********************************************************************************************************
* Detail Page */

/* header section */
.detail-header {
    padding-top: 1rem;
}

.detail-header h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
}
.sub-header-bar {
    display: flex;
    justify-content: space-between;    
}

.rating-bar a, .save-bar a {
    color: #10375c;
}

/* Room images section */
.room-img-wrapper {   
    width: 100%;    
    height: 24rem;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    grid-template-areas: 
            'img-1 img-1 img-2 img-3'
            'img-1 img-1 img-4 img-5';
}

.room-img-wrapper img {
    width: 100%;
    height: 12rem;
}

.img-1 {
    grid-area: img-1;
    min-height: 24.5rem;
    min-width: 24rem;    
}

.img-2 {
    grid-area: img-2;
}
.img-3 {
    grid-area: img-3;
}
.img-4 {
    grid-area: img-4;
}
.img-5 {
    grid-area: img-5;
}

/* Host section */
#two-columns {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-gap: 2.5rem;
}

.host-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;    
}

.host-info-text h3 {
    font-family: 'Roboto Slab', serif;
}
.host-img img {
    width: 40px;
    border-radius: 50%;
}

/* Book Now form */
.book-now-wrapper {
    border: 1px solid lightgrey;
    border-radius: 2%;
    background-color: #eeeeee;
    padding: 1rem;
    margin-top: .5rem;
    margin-bottom: 2rem; 
    color: #10375c;   
}
.book-now-wrapper h3 {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
}

#book-now-btn {
    background-color: #00587a;
    color: white;
    width: 23rem;
}

.book-now-wrapper label {
    color: #10375c;
}

/***********************************************************
* Become a host Page */
.become-host-bg{
    background-image: url('../images/bg_3.jpg');
    width:100%;
    height: 40rem;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

/************************************************************
*Thank you page */

.thank-you-img {
    background-image: url('../images/bg_2.jpg');
    width:100%;
    height: 40rem;
    background-size: 100% 100%;
    position: relative;
}

.thank-you-text {
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -4rem;
    margin-left: -30rem;
    background-color: rgb(0,88,122,0.8);
    padding: 3rem;
    border-radius: 2%;    
}
.thank-you-text h1 {
    font-family: 'Sansita Swashed', cursive;
    color: white;
    font-size: 4rem;   
    line-height: 2rem;
}
.thank-you-text h1:hover {
    color: #fddb3a;
    transition: .3s;
}
