/* ******************************************
 * WEB222NGG
 * Assignment 2
 * Name: Thi My Phuc Huynh (Mindy).
 * Student ID: 149792186.
 * Date: October 24 , 2020
 ********************************************
 * images from unsplash.com | canva.com
 ******************************************** */
 
 /* import Google Font */
 @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@600;700&family=Sansita+Swashed:wght@700&display=swap');
 /* font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Sansita Swashed', cursive; */

/*********** Colors ******************
 * #0f3057: dark blue
 * #00587a: lighter blue
 * #008891: tortoise
 * #e7e7de: smoke white
 * #ffc93c: yellow

/*============ General =================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;    
}

body {
    overflow-x: hidden;
    color: #0f3057 !important;
    font-family: 'Roboto', sans-serif !important;
}

/* Overwrite some styles of Bootstrap */
.row, .container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*============ Top Bar =================*/
.top-bar {
    background: #008891;
    height: 2.8rem;
    padding: .5rem 0;    
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

/*=========== Navigation ====================*/
.navbar-brand img {
    height: 2rem;
}

.navbar {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    z-index: 1;
}

.nav-item {
    padding: .5rem;
}

.nav-link {
    color:  #0f3057 !important;
}

.nav-link.active,
.nav-link:hover {
    color:#ffc93c !important;
}

/*========= Search Bar ============*/
.button-label {
    visibility: hidden;
}

.btn-custom {
    background: #008891;
    color: white;
}
.btn-custom:hover {
    background-color: #fddb3a;
    transition: .3s;
    color: #0f3057;
}
#search-bar {
    margin-top: 1.5rem;
    margin-bottom: 1rem;    
}

#search-bar h2 {
    font-family: 'Sansita Swashed', cursive;
}

.form-group label {
    font-family: 'Roboto Slab', serif;
}

::placeholder{
    font-family: 'Roboto', sans-serif;
}
/*========= Carousel ==============*/
#carousel {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

.carousel.inner {
    max-height: 35rem !important;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transition: transform 1.2s ease;
}

.carousel-caption {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);    
}

.carousel-caption h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 3.8rem;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
    color: #fddb3a;
}
.bg-custom {    
    color: white;    
    letter-spacing: .15rem;      
}

/*============== Informational section ==============*/
.border-top {
    border-top: .3rem solid #008891 !important;
}

h1 {
    font-family: 'Sansita Swashed', cursive;    
}
/*============== Footer ==================*/
footer {    
    background-color: #00587a;
    padding: 1rem 2rem 3rem;
}

footer img {
    height: 2.8rem;
    margin: 1.5rem auto;
}

footer a {
    color: #e7e7de;
    text-decoration: none;
}

ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
}

ul.social li {
    margin: 0 auto;
}

footer a > i {
    font-size: 2.5rem;
    padding: 0 1rem;
}

a > i:hover {
    color:#ffc93c;
}

.copyright{
    background-color:#0f3057;
    height: 2.8rem;
    padding: .5rem 0; 
}

/*================= Room Listing ==============*/
.card-title {
    font-family: 'Roboto Slab', serif;
}

/*================== Detail Page ==============*/
.link {
    color: #0f3057;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.2rem;
}

.room-img-wrapper {   
    width: 100%;    
    height: 24rem;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    grid-template-areas: 
            'img-1 img-1 img-2 img-3'
            'img-1 img-1 img-4 img-5';
}

.room-img-wrapper img {
    width: 100%;
    height: 12rem;
}

.img-1 {
    grid-area: img-1;
    min-height: 24.5rem;
    min-width: 24rem;    
}

.img-2 {
    grid-area: img-2;
}
.img-3 {
    grid-area: img-3;
}
.img-4 {
    grid-area: img-4;
}
.img-5 {
    grid-area: img-5;
}

.host-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;    
}

.host-info-text h4 {
    font-family: 'Roboto Slab', serif;
}
.host-img img {
    width: 40px;
    border-radius: 50%;
}

.book-now-wrapper {
    border: 1px solid lightgrey;
    border-radius: 2%;
    background-color: #eeeeee;
    padding: 1rem;
    margin-top: .5rem;
    margin-bottom: 2rem; 
    color: #10375c;   
}
.book-now-wrapper h4 {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
}

#book-now-btn {
    background-color: #00587a;
    color: white;
    width: 100%;
}

.book-now-wrapper label {
    color: #10375c;
}

/*=================== Become a Host, Sign up, Login Forms ============*/
.bg-form {
    background-color: rgb(238,238,238,0.9);
    border-radius: 2%;
}

.become-host-bg {
    background-image: url('../images/bg_1.jpg');
    width:100%;
    padding: 1rem;       
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-bg {
    background-image: url('../images/bg_2.jpg');
    width:100%;
    padding: 1rem;       
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sign-up-bg {
    background-image: url('../images/bg_3.jpg');
    width:100%;
    padding: 1rem;       
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background-color: rgb(238,238,238,0.9);
    color: #10375c;
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  #message p {
    padding-left: 5rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 1rem;
  }
  
  #message h4 {
    font-family: 'Roboto Slab', serif;    
  }
  /* Add a green text color and a check mark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -3rem;
    content: "\2714";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "\2716";
  }

/*============= Dashboard ==============*/
.thank-you-text {
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -4rem;
    margin-left: -30rem;
    background-color: rgb(0,88,122,0.8);
    padding: 3rem;
    border-radius: 2%;    
}
.thank-you-text h1 {
    font-family: 'Sansita Swashed', cursive;
    color: white;
    font-size: 4rem;   
    line-height: 2rem;
}
.thank-you-text h1:hover {
    color: #fddb3a;
    transition: .3s;
}

.data-name {
    color: #e6739f !important;
}

.data-name:hover {
    color: #cc0e74 !important;
}
/*=============== Media Queries ================*/
/*devices under 1200px (xl)*/
@media (max-width: 1199.98px) {
    .carousel-caption h1 {
        font-size: 2.8rem;
    }
    
}
/*devices under 992px (lg)*/
@media (max-width: 991.98px) {
    .carousel-caption h1 {
        font-size: 2.5rem;
    }
    .card-title {
        font-size: .9rem;
    }
    .card-text {
        font-size: 0.7rem;        
    }    
}

/*devices under 480px (lg)*/
@media (max-width: 479.98px) {
    .form-header-custom {
        font-size: 1.5rem;
    }
}