<!-- Top Bar -->
<div class="top-bar">
    <div class="container">
    <div class="col-12 text-right">
        <p><a href="tel:+123456789">Call us at 1 (23456789)</a></p>
    </div>
    </div>
</div>

<!-- Navigation -->
<nav class="navbar bg-light navbar-light navbar-expand-lg">
    <div class="container">

    <a href="/" class="navbar-brand"><img src="images/logo_8.JPG" alt="Logo" title="Logo"></a>       

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">         
        <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/rooms" class="nav-link">Our Rooms</a></li>
        <li class="nav-item"><a href="/host" class="nav-link">Become a Host</a></li>
        <li class="nav-item"><a href="signup" class="nav-link">Sign Up</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        </ul>
    </div>
    </div>
</nav>