<!-- /* ******************************************
 * WEB222NGG
 * Assignment 2
 * Name: Thi My Phuc Huynh (Mindy).
 * Student ID: 149792186.
 * Date: October 24, 2020
 ********************************************
 * images from unsplash.com | canva.com
 ******************************************** */ -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Form validation -->
    <script src="scripts/script.js"></script>

    <title>WEB322 Assignment</title>
  </head>
  <body>
        <!-- Top Bar -->
        <div class="top-bar">
            <div class="container">
            <div class="col-12 text-right">
                <p><a href="tel:+123456789">Call us at 1 (23456789)</a></p>
            </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="navbar bg-light navbar-light navbar-expand-lg">
            <div class="container">

            <a href="/" class="navbar-brand"><img src="images/logo_8.JPG" alt="Logo" title="Logo"></a>       

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNav">         
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/rooms" class="nav-link">Our Rooms</a></li>
                    <li class="nav-item"><a href="/host" class="nav-link active">Become a Host</a></li>
                    <li class="nav-item"><a href="signup" class="nav-link">Sign Up</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                </ul>
            </div>
            </div>
        </nav>

        <!-- Form -->
        <div class="become-host-bg">
            <div class="container p-4 w-50 my-5 bg-form">                
                <h3 class="text-center py-3">BECOME A HOST</h3>                    
                <form class="needs-validation" action="/host" method="POST" enctype="multipart/form-data" novalidate>
                    <div class="form-group">
                        <input 
                            id="email" 
                            name="email" 
                            type="email" 
                            class="form-control" 
                            placeholder="Email Address" 
                            tabindex="1" 
                            required 
                            autocomplete="email"
                        > 
                        <div class="invalid-feedback">Please enter a valid email address</div>                               
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="first-name" name="fName" type="text" class="form-control" placeholder="First Name" tabindex="2" required>
                            <div class="invalid-feedback">Please enter your first name</div>
                        </div>
                        <div class="form-group col-md-6">
                            <input id="last-name" name="lName" type="text" class="form-control" placeholder="Last Name" tabindex="3" required autocomplete="family-name">
                            <div class="invalid-feedback">Please enter your last name</div>
                        </div>
                    </div>                                                   
                    <div class="form-group">
                        <input id="address" name="address" type="text" class="form-control" placeholder="Address" tabindex="1" required>
                        <div class="invalid-feedback">Please enter an address</div>
                    </div>
                    <div class='form-row'>
                        <div class="form-group col-md-6">
                            <input id="place-type" name="placeType" type="text" class="form-control" placeholder="Entire Place" list="type" tabindex="2" required>
                            <datalist id="type">
                                <option value="Entire Place"></option>
                                <option value="Private Room"></option>
                                <option value="Shared Room"></option>
                            </datalist>
                        </div>
                        <div class="form-group col-md-6">                            
                            <input id="guests" name="guests" type="number" min="1" class="form-control" placeholder="Add guests" tabindex="4" required>
                        </div> 
                    </div>                            
                    <div class="form-group"                   >
                        <textarea rows="3" cols="30"  class="form-control" placeholder="Describe more about your place"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="photo">Upload images of your place</label>
                        <input type="file" class="form-control-file" id="photo" name="photo">
                    </div>
                    <div class="button">
                        <button type="submit" class="btn w-100 btn-custom" tabindex="3">Start your listing</button>
                    </div>
                </form>
                 
            </div>
        </div>
        <!-- footer section -->
        <footer>
            <div class="container">
            <div class="row text-light text-center py-4 justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                <img src="images/logo_8.JPG" alt="Logo" title="Logo">
                <p>Our services are available at anytime you need</p>
                <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
                </div>
            </div>                   
            </div>
        </footer>

        <!-- copyright -->
        <div class="copyright text-light text-center py-3">
            <p>&copy; 2020 Thi My Phuc Huynh - Mindy</p>
        </div>
        <!-- jQuery, Popper.js, Bootstrap JS, Font Awesome JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </body>
</html>
