<!-- /* ******************************************
 * WEB222NGG
 * Assignment 2
 * Name: Thi My Phuc Huynh (Mindy).
 * Student ID: 149792186.
 * Date: October 24, 2020
 ********************************************
 * images from unsplash.com | canva.com
 ******************************************** */ -->

<!doctype html>
<html lang="en">
  {{> head}}
  <body>

        {{> header user}}
        
        <div class="sign-up-bg h-75 container-fluid">
            <div class="thank-you-img">
                <div class="thank-you-text">
                    <h1> User dashboard <br><br></h1>
                {{#if user}}
                <h1> Welcome <span class="data-name">{{user.fName}} {{user.lName}}</span></h1>
                <br><br>
                {{/if}}                
                <h1>Thank you for using our services</h1> 
                </div>                              
            </div>
        </div>
        
        {{> footer}}
        {{> script}}
    </body>
</html>
